<div class="vivu-widget-call-action">
    <a href="https://cuukiemchivuong.com.vn/camnang" class="vivu-widget-btn-call">
        <img src="https://cuukiemchivuong.com.vn/assets/img/Group84.png">
    </a>
    <a href="/huongdannap" class="vivu-widget-btn-call">
        <img src="https://cuukiemchivuong.com.vn/assets/img/Group85.png">

    </a>
</div>
<div class="vivu-widget-all-app-act-pc">
    <div class="vivu-widget-btn-act-call">
        <a href="http://cuukiemchivuong.vn/" class="vivu-widget-btn-open-popup-call">
            <img alt="nạp thẻ" class="vivu-widget-btn-img-call" src="https://cuukiemchivuong.com.vn/assets/img/nap-the1.png">

        </a>
    </div>

    <div class="vivu-widget-btn-act-zalo">
      
        <form method="get" action="/uploads/apk/CửuKiếmChiVương.apk">
            <button type="submit" class="apk-dow"></button>
         </form>
    </div>

    <div class="vivu-widget-btn-act-mess">
        <a href="https://play.google.com/store/apps/details?id=com.daihai.game.cuukiem.ckcv" target="_blank">

            <img alt="facebook" class="vivu-widget-btn-img-mess" src="https://cuukiemchivuong.com.vn/assets/img/GooglePlay.png">


        </a>
    </div>

    <div class="vivu-widget-btn-act-location">

        <a href="https://apps.apple.com/vn/app/c%E1%BB%ADu-ki%E1%BA%BFm-chi-v%C6%B0%C6%A1ng/id1544791177?l=vi" target="_blank" rel="nofollow">
            <img alt="Bản đồ" class="vivu-widget-btn-img-location" src="https://cuukiemchivuong.com.vn/assets/img/AppStore.png">
        </a>

    </div>


</div>