<header id="siteHeader" class="site-header fix-on-top">

    <div class="sh_toggle-btn">
        <button class="sh_main-navbar_toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#siteHeaderNavbarCollapse" aria-expanded="false"><i class="ion-navicon"></i></button>
    </div>
    <div class="logo flex">
        <div class="left-top">
            <a href="/">
             <img src="https://cuukiemchivuong.com.vn/assets/img/icon-512.png">
        </div>
        <div class="right-top">
            <a href="http://cuukiemchivuong.vn/"><img src="https://cuukiemchivuong.com.vn/assets/img/Group69.png"></a>
            <a data-toggle="modal" data-target="#squarespaceModal"><img src="https://cuukiemchivuong.com.vn/assets/img/Group68.png"></a>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="siteHeaderNavbarCollapse">
        <div class="sh_main-navbar">
            <div class="container">
                <div class="sh_main-navbar_wrapper">
                    <ul class="sh_main-nav-list">
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/event">Sự kiện</a></li>
                        <li><a href="/camnang">Cẩm nang</a></li>
                        <li><a href="/thuvien">Thư viện</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/cuukiemchivuong">Fanpage</a></li>
                        <li><a href="/hotro">Kênh hỗ trợ</a></li>
                    </ul>
                  
                </div>
            </div>
        </div>
    </div>

</header>
<!-- line modal -->
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h3 style="text-transform: uppercase; font-size: 15px; font-weight: bold;" class="modal-title" id="lineModalLabel">Chọn hệ điều hành cần tải</h3>
          </div>
          <div class="modal-body">
              
            <div class="vivu-widget-btn-act-mess">
                <a href="https://play.google.com/store/apps/details?id=com.daihai.game.cuukiem.ckcv" target="_blank">
        
                    <img style="width: 43%;" alt="facebook" class="vivu-widget-btn-img-mess" src="https://cuukiemchivuong.com.vn/assets/img/GooglePlay.png">
        
        
                </a>
            </div>
        
            <div class="vivu-widget-btn-act-location">
        
                <a href="https://apps.apple.com/vn/app/c%E1%BB%ADu-ki%E1%BA%BFm-chi-v%C6%B0%C6%A1ng/id1544791177?l=vi" target="_blank" rel="nofollow">
                    <img style="width: 43%;" alt="Bản đồ" class="vivu-widget-btn-img-location" src="https://cuukiemchivuong.com.vn/assets/img/AppStore.png">
                </a>
        
            </div>
  
          </div>
         
      </div>
    </div>
  </div>