<header id="siteHeader" class="site-header fix-on-top">

    <div class="sh_toggle-btn">
        <button class="sh_main-navbar_toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#siteHeaderNavbarCollapse" aria-expanded="false"><i class="ion-navicon"></i></button>
    </div>
    <div class="logo flex">
        <div class="left-top">
            <a href="/">
             <img src="https://cuukiemchivuong.com.vn/assets/img/icon-512.png">
            </a>

        </div>
        <div class="right-top">
            <a href="http://cuukiemchivuong.vn/"><img src="https://cuukiemchivuong.com.vn/assets/img/Group69.png"></a>
            
        </div>

    </div>
    <div class="collapse navbar-collapse" id="siteHeaderNavbarCollapse">
        <div class="sh_main-navbar">
            <div class="container">
                <div class="sh_main-navbar_wrapper">
                    <ul class="sh_main-nav-list">
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/event">Sự kiện</a></li>
                        <li><a href="/camnang">Cẩm nang</a></li>
                        <li><a href="/thuvien">Thư viện</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/cuukiemchivuong">Fanpage</a></li>
                        <li><a href="/hotro">Kênh hỗ trợ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</header>